<!DOCTYPE html>
<html lang="es">
<style type="text/css">
	.wallpaper {
		/* Fondo personalizado por usuario*/
		background-image: url('img/pista.jpg');
		background-size: 100% auto;
	}
	.miembro {
		display: inline-block;
	}
	.close {
		display: inline-block;
	}
</style>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Icono de Social Network -->
	<link rel="icon" href="../../favicon.ico">

	<title>Perfil</title>

	<!-- Bootstrap core CSS -->
	<link href="../bootstrap-3.3.6/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Iconos -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- Custom styles for this template -->
	<link href="navbar.css" rel="stylesheet">

	<!-- CSS Propios -->
	<link href="css/propios.css" rel="stylesheet">

	<!-- Semantic UI -->
	<link rel="stylesheet" type="text/css" href="../Semantic-UI-CSS-master/dist/semantic.min.css">
	<script src="../Semantic-UI-CSS-masters/dist/semantic.min.js" type="text/javascript"></script>

	<script type="text/javascript" src="js/perfil.js"></script>

</head>
<script src="../angular-1.5.0/angular.min.js" type="text/javascript"></script>

<body class="wallpaper" onload="checkCookie()">
	<div>

		<!-- NAVBAR
    ================================================== -->
		<div class="navbar-wrapper">
			<div class="container">

				<nav class="navbar navbar-inverse navbar-fixed-top">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#">FaceSports</a>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li><a href="home.html">Inicio</a></li>
								<li class="active"><a href="profile.html">Perfil</a></li>
								<li><a href="mensajes.html">Mensajes</a></li>

							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Salir<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="editProfile.html">Editar perfil</a></li>
										<li role="separator" class="divider"></li>
										<li><a href="/ArqSoftware/InicioSesion?id=2">Cerrar sesión</a></li>
									</ul>
								</li>
							</ul>
							<form action="/ArqSoftware/Social-Network/search.html" method="GET" class="navbar-form navbar-right">
								<div class="ui search">
									<div class="ui icon input">
										<input class="prompt" name="userSearch" type="text" placeholder="Buscar..."> <i class="search icon"></i>
									</div>
									<div class="results"></div>
								</div>
							</form>
						</div>
						<!--/.nav-collapse -->
					</div>
				</nav>

			</div>
		</div>

		<div class="container" id="pub">
			<div ng-app="myApp" ng-controller="perfilCtrl">

				<!-- Static navbar -->
				<nav class="navbar"></nav>


				<div class="center-block">
					<div class="col-sm">
						<div class="panel panel-default">
							<div ng-repeat="u in myUser | limitTo:1">

								<!-- Cabecera perfil -->
								<div class="panel-body">
									<div style="">
										<div class="row">

											<div class="col-md-1 col-sm-1 col-xs-1">
												<img src="{{ u.logo }}" class="panel-icon img-rounded imagen" alt="" />
											</div>

											<div class="col-md-4 nombre">
												<strong>{{ u.nombre }}</strong>
												<!-- Icono para entrar al equipo
													No se permite clickar si tu id de sesion coincide
													con el del equipo (es tu propio perfil)
												-->
												<a href="/ArqSoftware/EditaEquipoMiembros?equipo={{u.Id}}&usuario={{propio}}&acc=add" 
													class="miembro equipo_info" ng-show="(u.equipo) > 0"
													ng-class="{disabled: ((propio) == (u.Id) || (u.me_sigue) == 'false'
														|| (u.le_sigue) == 'false')}" role="button">
													<span title="Entrar al equipo">
														&nbsp; <i class="fa fa-users" aria-hidden="true"></i>
													</span>
												</a>
												<p>@{{ u.nick }}</p>
												<div ng-show="(propio) != (u.Id) && (u.le_sigue) == 'true'">
													<div class="sigues">
														Sigues a este usuario
													</div>
													<div ng-show="(u.me_sigue) == 'true'" class="sigues">
														<!-- Icono mensaje -->
														<a href="#" class="btn btn-sm" role="button" title="Enviar mensaje privado">
															<i class="fa fa-envelope-o" aria-hidden="true"></i>
														</a>
													</div>
												</div>
											</div>

											<div class="col-md-5 col-sm-4" style="float:right;" id="der">
												<div>
													Siguiendo: <a href="seguidor.html?metodo=0&id={{ u.Id }}">{{ u.seguidos }}</a>
												</div>
												<div>
													Seguidores: <a href="seguidor.html?metodo=1&id={{ u.Id }}">{{ u.seguidores }}</a>
												</div>

												<!-- Botón seguir -->
												<div ng-show="(propio) != (u.Id) && (u.le_sigue) == 'false'">
													<div class="seguir_d_perfil">
														<a href="#" class="btn btn-sm btn-default" role="button" id="seguir"> Seguir &nbsp&nbsp <span
															class="glyphicon glyphicon-user"></span> <i
															class="fa fa-plus" aria-hidden="true"></i>
														</a>
													</div>
												</div>

												<!-- Botón dejar de seguir -->
												<div ng-show="(propio) != (u.Id) && (u.le_sigue) == 'true'">
													<div class="seguir_d_perfil">
														<a href="#" class="btn btn-sm btn-danger" role="button" id="seguir"> Dejar de seguir
														</a>
													</div>
												</div>

												<div ng-show="(propio) == (u.Id)">
													<div class="seguir_d_perfil">
														<a href="editProfile.html?user={{ u.Id }}" class="btn btn-sm btn-default" role="button" id="seguir"> Editar perfil &nbsp&nbsp <i class="fa fa-pencil" aria-hidden="true"></i>
														</a>
													</div>
												</div>
											</div>
										</div>

									</div>

									<hr>
									<p>{{ u.descripcion }}</p>
									<div ng-show="(u.equipo) > 0">
										<!-- Separador -->
										<hr>
										<!-- Miembros texto -->
										<p>
											<strong> Miembros del equipo </strong>
										</p>
									</div>
								</div>
								<!-- Cierre perfil -->

							</div>

							<!-- Miembros del equipo -->
							<div ng-show="(jugadores.length) > 0" class="panel-body">
								<div id="myCarousel" class="carousel slide" data-ride="carousel">
									<!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">
										<div class="row placeholders">
											<div class="item active">

												<div ng-repeat="j in jugadores | pagination: curPage * pageSize | limitTo: pageSize">
													<!-- Usuario -->
													<div class="col-xs-6 col-sm-3 placeholder"  ng-mouseover="hoverIn(j.Id)" ng-mouseleave="hoverOut()">
														<!-- Usuario -->
														<div class="panel panel-default">
															<div class="panel-heading">
																<div class="col-md-offset-0">
																	<img src="{{ j.logo }}" class="panel-icon img-rounded imagen miembro">
																	<!-- Close
																		Solo aparece el id de mi sesión coincide con el del perfil o con el del
																		usuario a eliminar del equipo
																	-->
																	<div class="close"
																		ng-show="hoverEdit == (j.Id) && ((propio) == (myId) || (propio) == (j.Id))">
																		<a href="/ArqSoftware/EditaEquipoMiembros?equipo={{myId}}&usuario={{j.Id}}&acc=delete">
																			<i class="fa fa-times" aria-hidden="true"></i>
																		</a>
																	</div> <!-- Close -->
																	<a href="profile.html?user={{ j.Id }}" class="black_link">
																		<h4><br></h4>
																		<div><strong> {{ j.nombre }} </strong></div>
																		<span class="text-muted">@{{ j.nick }}</span>
																	</a>
																</div>
															</div>
														</div> <!-- Usuario -->
													</div>

												</div>

											</div>
										</div>
									</div>

									<!-- Left and right controls -->
									<div ng-show="jugadores.length" id="paginacion">
										<ul class="pagination-controle pagination">
											<li>
												<button type="button" class="btn btn-xs btn-primary"
													ng-disabled="curPage == 0" ng-click="curPage=curPage-1">
														&lt;
												</button>
											</li>
											<span id="pags" class="btn-ms btn-default">
												&nbsp;&nbsp; {{curPage + 1}} / {{ numberOfPages() }} &nbsp;&nbsp;
											</span>
											<li>
												<button type="button" class="btn btn-xs btn-primary"
													ng-disabled="curPage >= jugadores.length/pageSize - 1"
													ng-click="curPage = curPage+1">
														&gt;
													</button>
											</li>
										</ul>
									</div><!-- Cierre botones -->

								</div>
							</div>
							<!-- No tiene miembros el equipo -->
							<div ng-show="(jugadores.length) < 1" class="panel-body">
								<p>
									El equipo no tiene miembros aún.
								</p>
							</div>
						</div>
						<!-- Cerrar miembros -->
					</div>
					<!-- /.col-sm-10 -->
					<!-- Contenido del perfil -->
					<div>

						<div ng-repeat="x in myData">
							<!-- Publicacion -->
							<div class="panel panel-default">
								<div class="panel-heading">
									<img src="{{ x.logo }}" class="panel-icon imagen" alt="" />
									<div class="nombre">
										<a href="profile.html?user={{ x.idUsuario }}" class="black_link">
											<strong>{{ x.nombre}}</strong>
											<p>@{{ x.nick }}</p>
										</a>
									</div>
									<div class="botones columna2">
										<div class="btn-group like">
											<a href="/ArqSoftware/MeGusta?pub={{ x.Id }}" type="button" class="btn btn-xs btn-primary" id="blike"> Me Gusta
												&nbsp <i class="fa fa-thumbs-o-up"></i>
											</a>
											<button type="button" class="btn btn-xs btn-primary" id="bnum">{{ x.likes }}</button>
										</div>
										<br></br> <a href="/ArqSoftware/Compartir?pub={{ x.Id }}" type="button" class="btn btn-xs btn-primary" id="bpublicacion"> Compartir &nbsp <i class="fa fa-share"></i>
										</a>
									</div>
								</div>
								<div class="panel-body">
									<p>{{ x.texto }}</p>
									<!-- Imagen -->
									<div ng-show="(x.img) != null &amp;&amp; (x.img) != ''">
										<div class="embed-responsive embed-responsive-16by9">
											<img class="img-responsive" src="{{ x.img }}" alt=""></img>
										</div>
									</div>
									<!-- YouTube -->
									<div ng-show="(x.video) != null &amp;&amp; (x.video) != ''">
										{{x.video}}
										<div class="embed-responsive embed-responsive-16by9">
											<iframe class="embed-responsive-item" frameborder="0" allowfullscreen ng-src="{{x.video}}"></iframe>
										</div>
									</div>
								</div>
								<div class="panel-footer" id="foot">
									<div class="columna1">{{ x.fecha }}</div>
									<div class="columna2">
										<button type="button" class="btn btn-xs btn-default" id="down" ng-show="(x.deporte) != null">#{{ x.deporte}}</button>
										<button type="button" class="btn btn-xs btn-default" id="equipo" ng-show="(x.equipo) &gt; 1">
											EQUIPO <i class="fa fa-users"></i>
										</button>
										<button type="button" class="btn btn-xs btn-primary" onclick="mostrareldiv(&#34;comentarios1&#34;)" id="down">
											Comentarios <i class="fa fa-comment"></i>
										</button>
									</div>
									<br>
									<!-- Rellenar línea -->
								</div>

								<!-- Comentarios -->

								<!-- Cierre comentarios -->

								<!-- Cierre publicacion -->
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript" src="js/perfil.js"></script>
				<script type="text/javascript" src="js/cookies.js"></script>

			</div>
			<!-- Cierre de wallpaper -->
			<!-- Bootstrap core JavaScript
    ================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" type="text/javascript"></script>
			<script type="text/javascript">
				window.jQuery || document.write('<script src="../bootstrap-3.3.6/assets/js/vendor/jquery.min.js"><\/script>')
			</script>
			<script src="../bootstrap-3.3.6/dist/js/bootstrap.min.js" type="text/javascript"></script>
			<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
			<!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
		</div>
	</div>
</body>

</html>
